body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

.mensaje {
    display: flex;
    gap: 12px;
    background: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
}

.avatar {
    width: 60px;
    aspect-ratio: 1 / 1;      /* cuadrado */
    object-fit: cover;        /* no deformar */
    object-position: center;  /* centrar recorte */
    border-radius: 50%;       /* redondo */
}

.contenido {
    width: 100%;
}

.contenido header {
    display: flex;
    justify-content: space-between; /* Fecha a la derecha */
    align-items: center;
    margin-bottom: 4px;
}

.nombre {
    font-weight: bold;
}

.fecha {
    font-size: 0.8rem;
    color: #6b7280;
}

.texto {
    line-height: 1.4;
}

.messi {
    border-left: 4px solid #38bdf8;
}

.cr7 {
    border-left: 4px solid #facc15;
}