input {
  display: none;
}

label {
  display: block;
  border: 1px solid #bbb;
  background: #f3f3f3;
  margin-block: 8px;
  cursor: pointer;

  /* padding sencillo y correcto */
  padding-block: 0.5rem;        /* arriba y abajo */
  padding-inline: 0.8rem 1rem;  /* izquierda y derecha */
}

label::after {
  content: " +";
  float: right;
}

input:checked + label::after {
  content: " -";
}

p {
  display: none;
  margin: 0 0 10px 0;
  padding-left: 1rem;
}

input:checked + label + p {
  display: block;
}