.texto {
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif, ;
}


.amarillo {
    color: #f4b400;
}


.azul {
    background-color: #2b6cb0;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}


.morado {
    color: rebeccapurple;
}


.verde {
    background-color: #16a34a;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}
