body{
    background-color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif, ;
}




.oculto{
    background-color: black;
    color: transparent; /* el texto existe pero no se ve */
    padding: 5px 12px;
    border-radius: 2px;
}

