.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 180px;
}

.menu li {
  background-color: #1aa6a6;   
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;

  /* todos los bordes */
  border: 3px solid black;
  border-bottom: none; /* se lo quitamos para que no se duplique */
}


.menu li:last-child {
  border-bottom: 3px solid black;
}
